<div class="row justify-content-center">
    <div class="container">
        <h1 class="p-40 text-4xl font-bold text-center">Welcome to the hiring platform of your choice!</h1>
        <div class="flex items-center justify-center">   
            <%=link_to "Go to candidates list", {:controller => "candidates", :action => "index", :id => params[:id]}, class: "btn btn-info", disabled: "disabled"%>
        </div>
    </div>
</div> 
