<div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center py-4 sm:pt-0">
    <div class="hidden fixed top-0 right-0 px-6 py-4 sm:block" style="margin-left:1250px;">              
      <%= link_to "Home", home_index_path, class: "text-sm text-gray-700 dark:text-gray-500 underline"%>                  
    </div>        
  
    <div class="flex-center position-ref mt-200">    
        <div class="content">
            <div class="title m-b-md">
                Welcome to Hire Me!
            </div>

            <div class="links">
                <p>Your employment portal of choice</p>
            </div>
        </div>
    </div> 
</div> 

